<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>BrookaMtrix Photography</title>
  <link rel="icon" type="image*" href="/images/photographer-badge07.png">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <link href="/css/materialize.css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/font-awesome.css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" rel="stylesheet" media="screen,projection"/>
  <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5bd33ec0476c2f239ff62e03/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
<div class="">
    <nav class="grey lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"> <img style="margin-top:10px" src="../images/logo.png" alt=""> </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/wedding/1">Weddings</a></li>
          <li><a href="/lifestyle/1">Lifestle</a></li>
          <li><a href="/potrait/1">Potrait</a></li>
          <li><a href="/creativeArt/1">Creative Art</a></li>
          <li><a href="/beauty/1">Beauty</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav transparent">
            <div class="">
                <img width="100%" src="../images/IMG_1593.jpg" alt="">
            </div>
          <li><a class="grey-text text-lighten-3" href="/wedding/1">Weddings</a></li>
          <li><a class="grey-text text-lighten-3" href="/lifestyle/1">Lifestle</a></li>
          <li><a class="grey-text text-lighten-3" href="/potrait/1">Potrait</a></li>
          <li><a class="grey-text text-lighten-3" href="/creativeArt/1">Creative Art</a></li>
          <li><a class="grey-text text-lighten-3" href="/beauty/1">Beauty</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
<!-- parllax image -->
<!-- <div class="parallax-container valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="row center">
                    <h5 class="header col s12 grey-text ">Where Pictures Speak Art </h5>
                    <a class="btn" href="/contact">Contact</a>
                    <a class="btn" href="/about">About</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/bg.jpg"></div>
</div> -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">BrookMatrix Photography</h1>
        <div class="row center">
            <h5 class="header col s12 grey-text ">Where Pictures Speak Art </h5>
            <a class="btn" href="/contact">Contact</a>
            <a class="btn" href="/about">About</a>
            <!-- <a class="btn" href="/chat">Chat</a> -->
        </div>
        <div class="row center">
            <a class="btn small" flat href="http://instagram.com/brookmatrix_photography">Instagram <span class="fa fa-instagram "></span> </a>
        </div>
        <br><br>
    </div>
</div>
<% if(success_msg) {%>
    <div class="alert-success">
        <%= success_msg %>
    </div>
<% } %>
<% if(error_msg) {%>
    <div class="alert-danger">
        <%= error_msg %>
    </div>
<% } %>
