<%- include('../partials/head') %>
<div class="container">
  <div class="col m6">
    <div class="col m12">
      <% for(var c of chat.replies){ %>
        <h6><%= c.by%></h6>
        <p><%= c.message %></p>
      <% } %>
    </div>
  </div>
</div>
<%- include('../partials/foot') %>
