<%- include('../partials/head') %>

<div class="container">
  <div class="col m6 s12">
    <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <form class="" action="/send_message" method="post">
      <label for="topic">Topic</label>
      <input type="text" name="topic" value="">
      <br>
      <label for="message">Message</label>
      <input type="text" name="message" value="">

      <input type="submit" class="btn mb-4" name="" value="Send">
    </form>
    </div>
  <div class="col m6 s12">
    <div class="row">
      <% for(var c of chat){ %>
        <h4><%=c.topic%></h4>
        <p><%= c.message %></p>
        <a href="/active_chat/<%=c._id%>">View</a>
      <% } %>
    </div>
  </div>
</div>


<%- include('../partials/foot') %>
